In [10]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

df = pd.read_csv('../Final Project/videogamesales/vgsales.csv')

df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [11]:
df.columns = df.columns.str.lower()

df.head()

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [12]:
df['genre'] = df['genre'].fillna('')
df['publisher'] = df['publisher'].fillna('')
df['platform'] = df['platform'].fillna('')

In [13]:
q1 = df['global_sales'].quantile(0.25)
q3 = df['global_sales'].quantile(0.75)
iqr = q3 -q1

lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr

filtered_df = df[(df['global_sales'] >= lower_bound) & (df['global_sales'] <= upper_bound)]

print(df.shape)
print(filtered_df.shape)

(16598, 11)
(14705, 11)

In [14]:
global_sales_median = filtered_df['global_sales'].median()
global_sales_median

np.float64(0.14)

In [15]:
filtered_df = df.copy()

filtered_df.head()

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [16]:
filtered_df['cat_sales'] = filtered_df['global_sales'] > global_sales_median

filtered_df['cat_sales'] = filtered_df['cat_sales'].map({True: 1, False: 0})

df_clean = filtered_df.drop(columns=['rank', 'name','global_sales'])

df_clean['year'] = df_clean['year'].fillna(df_clean['year'].median())

df_encoded = pd.get_dummies(df_clean, columns=['genre','publisher','platform'], drop_first=True)

scaler = StandardScaler()
X['Year'] = scaler.fit_transform(X[['year']])

df_encoded

,year,na_sales,eu_sales,jp_sales,other_sales,cat_sales,genre_Adventure,genre_Fighting,genre_Misc,genre_Platform,...,platform_SAT,platform_SCD,platform_SNES,platform_TG16,platform_WS,platform_Wii,platform_WiiU,platform_X360,platform_XB,platform_XOne
0,2006.0,41.49,29.02,3.77,8.46,1,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1,1985.0,29.08,3.58,6.81,0.77,1,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,2008.0,15.85,12.88,3.79,3.31,1,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,2009.0,15.75,11.01,3.28,2.96,1,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
4,1996.0,11.27,8.89,10.22,1.00,1,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16593,2002.0,0.01,0.00,0.00,0.00,0,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
16594,2003.0,0.01,0.00,0.00,0.00,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16595,2008.0,0.00,0.00,0.00,0.00,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16596,2010.0,0.00,0.01,0.00,0.00,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16597,2003.0,0.01,0.00,0.00,0.00,0,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False